*{
    margin: 0;
    padding: 0;
}

.title{
    padding: 1rem;
    background-color: rgb(45, 45, 235);
    .csv{
        margin-left: 12rem;
        margin-right: 12rem;
        display: flex;
        justify-content: space-between;
        .left{
            color: white;
            select{
                width: 15rem;
                height: 3rem;
                font-weight: bold;
                padding-left: 1rem;
            }
        }
    }
}
.bgc{
    img{
        width: 100%;
        height: 9rem;
    }
}
.userdetails{
    margin-top: -5rem;
    display: flex;
    flex-direction: column;
    margin-left: 1.6rem;
    img{
        width: 10rem;
        height: 10rem;
        border-radius: 50%;
    }
    ul{
        list-style: none;
    }
}
.post{
    padding: 1rem;
    ul{
        list-style: none;
    }
}
.reaction{
    display: flex;
    padding: 2rem;
    .comment{
        display: flex;
        flex-direction: column;
        ul{
            list-style: none;
            display: flex;
            flex-direction: column;
            gap: 2rem;
            .com-image{
                display: flex;
                gap: 1rem;
                
                img{
                    width: 7rem;
                    height: 7rem;
                    border-radius: 8px;
                }
                .pElements{
                    display: flex;
                    gap: 2rem;
                    font-size: 16px;
                }
            }
        }
    }
    .post{
        display: flex;
        flex-direction: column;
        ul{
            list-style: none;
            display: flex;
            flex-direction: column;
            gap: 2rem;
            .com-image{
                display: flex;
                gap: 1rem;
                
                img{
                    width: 7rem;
                    height: 7rem;
                    border-radius: 8px;
                }
                .pElements{
                    display: flex;
                    gap: 2rem;
                }
            }
        }
    }
}

/* Media queries */
@media screen and (max-width:812px) {
    .title{
        .csv{
            margin-left: 1rem;
            margin-right: 1rem;
        }
    }
    .reaction{
        display: flex;
        padding: .5em;
        .comment{
            display: flex;
            flex-direction: column;
            ul{
                gap: .5em;
                .com-image{
                    gap: .5em;
                    li{
                        font-size: 10px;
                    }
                    img{
                        width: 7rem;
                        height: 7rem;
                        border-radius: 8px;
                    }
                    .pElements{
                        display: flex;
                        gap: .5em;
                    }
                }
            }
        }
        .post{
            ul{
                gap: .5em;
                .com-image{
                    gap: .5em;
                    li{
                        font-size: 10px;
                    }
                    img{
                        width: 4rem;
                        height: 4rem;
                        border-radius: 4px;
                    }
                    .pElements{
                        display: flex;
                        gap: .5em;
                        font-size: 8px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:612px) {
    .title{
        .csv{
            margin-left: 0;
            margin-right: 0;
        }
    }
    .reaction{
        display: flex;
        padding: .5em;
        .comment{
            display: flex;
            flex-direction: column;
            ul{
                gap: .5em;
                .com-image{
                    gap: .5em;
                    li{
                        font-size: 8px;
                    }
                    img{
                        width: 4rem;
                        height: 4rem;
                        border-radius: 4px;
                    }
                    .pElements{
                        display: flex;
                        gap: .5em;
                        font-size: 6px;
                    }
                }
            }
        }
        .post{
            ul{
                gap: .5em;
                .com-image{
                    display: flex;
                    gap: .5em;
                    li{
                        font-size: 8px;
                    }
                    .pElements{
                        gap: 1rem;
                    }
                }
            }
        }
    }
}
